/* adjust typography defaults */
body {
  margin: 0;
  font-family: sans-serif;
  line-height: 1.5;
}

header {
  height: 3vh;
  min-height: 20px;
  display: inline;
  user-select: none;
}

header a {
  padding: 6px 10px; 
  vertical-align: middle;
  cursor: pointer;
}

header a:hover {
  background-color: gray;
}

.app-left {
  background: black;
  height: 80vh;
  display: inline-block;
  width: 65%;
  vertical-align: top;
}

.app-right {
  background: red;
  height: 80vh;
  display: inline-block;
  width: 35%;
  vertical-align: top;
}

.app-bottom {
  height: 17vh;
  min-height: 100px;
}