@font-face {
  font-family: 'MinecraftTen';
  src: url("https://cdn.glitch.global/17ff8eee-9239-4ba0-8a5c-9263261550b5/MinecraftTen.woff?v=1650256421035")
}

::-webkit-scrollbar {
  width: 5px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0px;
  margin-left: 2px;
}

::-webkit-scrollbar-thumb {
  background: #888888;
  border-radius: 0px;
}

:root {
  /* Variable colors from sister project, MCBE Essentials */
  --lightest-background: #5c63a9;
  --home-background: #4f5590;
  --third-color: #3e4e76;
  --app-background: #443d60;
  --topbar-background: #26203a;
  --category-background: #312658;
  --category-foreground: #ffffff;
  --category-hover-foreground: var(--category-background);
  --category-hover-background: var(--category-foreground);
  --sidebar-background: #312948;
  --menu-button-closed-background: #312948f0;
  --sidebar-button-background: var(--topbar-background);
  --app-main-base-background: #2d2a3b;
  
  --app-inner-background: #4b4a5c;
  --app-inner-inner-background: #5f5e70;
  
  --potential-page-background: #1c1532;
  --potential-app-main-background-color: #352d50;
  --potential-app-inner-background-color: #454158;
  --potential-app-inner-inner-background-color: #585372;
  
  --button-green: #82f782;
  --button-blue: #82c1f7;
  --button-red: #f78282;
  --button-orange: #ef933c;
  --button-purple: #d174e5;
  --button-gray: #cdcbce;
  --button-hover: #cdcbce;
  --font-color: #ffffff;
  
  --input-border: #2D2A3B;
  --input-background: #ACACC1;
  
  --old-category-background: #dad9dc;
  --old-category-foreground: #1a1a2c;
  --old-sidebar-background: #4a4a5c;
  --old-sidebar-button-background: #1a1c2c;
  --old-topbar-background: #2b2b3a;
  --old-font-color: #dad9dc;
  --old-background: #2e3148;
  --discarded-app-background: #4b4f78;
  
  --general-border-radius: 10px;
}

body {
  margin: 0;
  font-family: sans-serif;
  line-height: 1.5;
}

header {
  min-height: 20px;
  display: inline-block;
  width:100%;
  user-select: none;
  background-color: var(--topbar-background);
  color: white;
}

header > span.context-label {
  padding: 6px 10px; 
  vertical-align: middle;
  cursor: pointer;
  position: relative;
}

header > span.context-label:hover {
  background-color: gray;
}

.context-menu {
  position: absolute;
  display: none;
  margin: 0;
  margin-inline-start: 0;
  list-style-type: none;
  padding-inline-start: 0px;
  top: 25px;
  left: 0;
  background-color: var(--topbar-background);
  border-top: 2px solid transparent;
  white-space: nowrap;
}

header > span.context-label:hover .context-menu {
  display: inline-block;
}

.context-menu li {
  padding: 2px 7px;
}

.context-menu li:hover {
  background-color: var(--home-background);
  /*color: black;*/
}

.app-left {
  background-color: var(--button-gray);
  height: 75vh;
  display: inline-block;
  width: 65%;
  vertical-align: top;
}

.app-right {
  background-color: var(--app-background);
  height: 75vh;
  display: inline-block;
  width: 35%;
  vertical-align: top;
  color: white;
  font-size: 15pt;
}

.app-right-inner {
  padding: 4px;
  user-select: none;
}

.app-right-inner h1 {
  font-family: 'MinecraftTen';
  margin: 0;
  text-align: center;
  color: white;
  filter: drop-shadow(2px 3px 6px black) drop-shadow(-2px 0px 6px black);
}

.app-bottom {
  height: 205px;
  min-height: 100px;
  background-color: var(--app-inner-inner-background);
}

.bottom-bar {
  height: 40px;
  background-color: var(--app-inner-background);
  color: white;
}

.bottom-button {
  height: 100%;
  cursor: pointer;
}

.bottom-button:hover {
  background-color: #ffffff60;
}

.dynamic-editor-container {
  height: calc(100% - 40px);
  overflow-x: scroll;
}

.dynamic-editor {
  height: 100%;
  border-spacing: 0;
}

.dynamic-editor td {
  padding: 0;
}

.dynamic-ruler {
  background-color: var(--input-background);
}

.dynamic-ruler td {
  height: 10px;
}

.dynamic-editor td:not(.dynamic-editor-label) {
  width: 60px;
  border-right: 1px solid black;
}

.dynamic-editor-label {
  color: white;
  background-color: var(--app-main-base-background);
  text-align: center;
  font-family: Helvetica;
  width: 105px;
}

.dynamic-editor td:not(.dynamic-ruler td):not(.dynamic-editor-label) {
  background: repeating-conic-gradient(#504f4f 0% 25%, #6e6e6e 0% 50%) 50% / 26px 32px;
}

.app-input {
  width: 100px;
  border: 1px solid var(--input-border);
  height: 30px;
  text-indent: 4px;
  background-color: var(--input-background);
  font-size: 15pt;
}