/* adjust typography defaults */
body {
  margin: 0;
  font-family: sans-serif;
  line-height: 1.5;
}

header {
  height: 3vh;
  min-height: 20px;
}

.header a {
  padding: 0px 5px; 
}

.app-left {
  background: green;
  height: 80vh;
  display: inline-block;
  width: 80%;
}

.app-right {
  background: red;
  height: 80vh;
  display: inline-block;
  width: 19%;
}

.app-bottom {
  height: 17vh;
  min-height: 100px;
}