h1 {
  font-family: 'MinecraftTen';
  margin: 0;
  text-align: center;
  color: white;
  filter: drop-shadow(2px 3px 6px black) drop-shadow(-2px 0px 6px black);
  font-size: 3em;
}

body {
  background-color: var(--app-background);
  color: white;
  padding: 4px 20px;
  font-size: 14pt;
}

a[href] {
  background-color: #ffffff55;
  padding: 2px;
  border-radius: 5px;
  color: var(--button-green);
  text-decoration-color: var(--button-green);
}

table {
  border-collapse: collapse;
  border: none;
  background-color: white;
  color: black;
  box-shadow: 0px 0px 15px 5px black;
}